body{
    padding: 0;
    margin: 0;
    background-color: rgb(121, 68, 190);
    background-image: url(./images/bg-desktop.svg);
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    padding: 3rem;
}
.header{
    width: 100%;
    margin-bottom: 2rem;
}
.header img{
    width: 100px; 
    /* margin: 30px 0px 0px 40px; */
}
.main-section{
    display: flex;
}
.img-section{
    width: 60%;
    /* margin: 50px 0px 0px 60px; */
}
.img-section img{
    width: 100%;
}
.text-section{
    width: 40%;
    color: white;
    padding: 3rem;
}
.text1,.text2{
    font-size: 25px;
    font-weight: 600;
}
.text3{
    font-size: 12px;
    font-weight: 300;
    margin-top: 15px;
}
p{
    padding: 0;
    margin: 0;
}
.btn{
    width: 130px;
    height: 35px;
    background-color: white;
    border-radius: 50px;
    /* box-shadow: 1px 1px 3px grey; */
    margin-top: 1rem;
    color: rgb(121, 68, 190);
    font-size: 12px;
}
.social-icon{
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-content: flex-end;
}
.icon{
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-icon li{
    color: white;
    margin-right: 1rem;
}
